{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="card card-body">
      <form method="POST">
          {% csrf_token %}
          <fieldset>
              <legend class="border-bottom text-primary text-center">Login</legend>
              {{form|crispy}}
          </fieldset>
          <button class="btn btn-block btn-info">Login</button>
      </form>
      <small class="text-muted mt-3">
        Need an account? <a href="" class="card-link">Register Today</a>
      </small>
  </div>
{% endblock content %}