{% extends "main.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
          </button>
          <strong>{{ message }}</strong>
      </div>
    {% endfor %}
{% endif %}
    

  <div class="card card-body">
      <div class="d-flex">
          <img src="{{ user.profile.image.url }}" alt="" width="64px" height="64px" class="rounded-circle">
          <div class="mr-auto pl-3 w-100">
              <a href="" class="h5">{{user.username}}</a>
              <hr class="my-2">
              <div class="text-muted small"> {{user.email}}</div>
          </div> 
      </div>
  </div>
  <div class="card card-body my-4">
      <h4 class="card-title border-bottom">Profile Information</h4>
        <form method="POST">
            {% csrf_token %}
            {{u_form|crispy}}
            {{p_form|crispy}}
            <button class="btn-block btn btn-success">Update</button>
        </form>
  </div>
{% endblock content %} 