{% extends "main.html" %}
{% block content %}

{% for post in posts %}

<article class="card card-body mb-3 shadow">
    <div class="row row-cols-2">
        <div class="col-2">
            <img src="{{post.author.profile.image.url}}" alt="" width="60px" height="60px" class="rounded-circle">
        </div>
        <div class="col-10 pl-0">
            <div class="d-flex">
                <a href="" class="card-link font-weight-bold">{{post.author}}</a>
                <span class="text-muted ml-4">{{post.date_created}}</span>
            </div>
            <hr class="my-2">
            <a href="{% url 'post_detail' post.id %}" class="card-title h4 text-primary card-link">{{post.title}}</a>
            <p class="card-text">{{post.content}}</p>
        </div>
    </div>
</article>

{% endfor %}

{% if is_paginated %}
<div class="mb-4 text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">First</span></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</span></a>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}

            {% if page_obj.number == num %}
            <li class="page-item">
                <a class="page-link" href="?page={{num}}">{{num}}</span></a>
            </li>
            {% endif %}
            
            {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item">
                <a class="page-link active" href="?page={{num}}">{{num}}</span></a>
            </li>
            {% endif %}
                
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</span></a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
{% endblock content %}